:root {
    --black: #151515;
    --grey-dark: #606060;
    --grey: #C3C3C3;
    --grey-medium: #A5A5A5;
    --grey-light: #E5E5E5;
    --grey-lightest: #F5F5F5;
    --white: #FFFFFF;
    --yellow: #FFF84E;
    --green: #4BD964;
    --font-body: 20px;
    --font-body-line-height: 26px;
    --font-small: 18px;
    --font-small-line-height: 24px;
    --font-tiny: 12px;
    --font-tiny-line-height: 18px;
    --font-big: 22px;
    --font-big-line-height: 34px;
    --font-huge: 64px;
    --font-huge-line-height: 78px;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;

    font-family: 'Amnesty Trade Gothic';
    font-size: var(--font-body);
    line-height: var(--font-body-line-height);
    font-weight: 300;
    color: var(--grey);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-family: 'Amnesty Trade Gothic';
    font-size: var(--font-big);
    line-height: var(--font-big-line-height);
    color: var(--grey);
    background: none;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px var(--grey);
    height: 40px;
    width: 90%;
    padding: 0;
}
.dark-bg {
    background: var(--black);
}
.container {
    width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.title {
    font-family: 'Amnesty Trade Gothic Cn';
    font-size: var(--font-huge);
    line-height: var(--font-huge-line-height);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--grey-light);
    margin-top: 47px;
    margin-bottom: 10px;
    text-align: center;
}
.success-title {
    font-family: 'Amnesty Trade Gothic Cn';
    font-size: var(--font-huge);
    line-height: var(--font-huge-line-height);
    font-weight: bold;
    color: var(--black);
    margin-top: 140px;
    margin-bottom: 30px;
    text-align: center;
    width: 590px;
    letter-spacing: -2px;
}

.description {
    color: var(--grey-dark);
    text-align: center;
    width: 670px;
    margin-bottom: 36px;
}

.success-description {
    color: var(--grey-medium);
    text-align: center;
    width: 600px;
    margin-bottom: 36px;
}

.success-share {
    width: 680px;
    background: var(--grey-lightest);
    padding: 12px 12px;
    text-align: center;
    font-size: var(--font-small);
    line-height: 20px;
    color: var(--grey-dark);
}

.success-share strong {
    color: var(--black);
}

.label {
    font-family: 'Amnesty Trade Gothic Cn';
    text-transform: uppercase;
    color: var(--grey-medium);
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 17px;
}
.label.no-margin {
    margin-bottom: 0px;
}

.field,
.selectable {
    flex-grow: 1;
}

.selectable {
    height: 50px;
    border: solid 1px var(--grey-medium);
    margin-bottom: 23px;
}
.selectable .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Amnesty Trade Gothic Cn';
    font-weight: bold;
    text-transform: uppercase;
    color: var(--grey-medium);
    opacity: 0.75;
}

.selectable[selected] {
    background: var(--grey-light);
    color: var(--grey-dark);
}
.selectable[selected] .text {
    color: var(--grey-dark);
}

.selectable:first-child {
    border-right: none;
}

.field {
    margin-bottom: 35px;
}

.toggle {
    display: inline-block;
    font-size: 16px;
    margin-right: 21px;
    flex-shrink: 1;
    outline: none;
}
.toggle-description {
    font-size: var(--font-small);
    line-height: var(--font-small-line-height);
    color: var(--grey-medium);
    align-self: flex-end;
    flex-grow: 1;
    padding-bottom: 2px;
}

.start-over,
.call-to-action {
    background: var(--yellow);
    border: none;
    outline: none;
    font-family: 'Amnesty Trade Gothic Cn';
    font-size: var(--font-size-big);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black);
    border-radius: 4px;
    padding: 20px 44px;
    margin-top: 46px;
    margin-bottom: 36px;
    text-decoration: none;
}
.call-to-action:disabled {
    background: var(--grey-dark);
}

.disclaimer {
    font-size: var(--font-tiny);
    line-height: var(--font-tiny-line-height);
    color: var(--grey-medium);
    text-align: center;
    width: 286px;
}

.logo {
    position: absolute;
    bottom: 45px;
    right: 90px;
}
