input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  background: rgb(255, 248, 78, 0.1) ;
  border-color: #FFF84E;
  
}
input[type="checkbox"]:checked + label:after {
  transform: scale(.9);
  
}
label {
  display: block;
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  background: #151515;
  margin: 100px;
  border: 1px solid #FFF84E;
  border-radius: 10%;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

label:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: url('/check.svg') center center no-repeat;
  background-size: contain;
  transform: scale(0);
  transition: 0.2s;
}

